#contenedor video{
	max-width: 100%;
	max-height: 50%;
	width: 100%;
	background-color: aqua;
}
#contenedor{
	max-width: 100%;
	position:relative;
}
canvas{
	max-width: 100%;
}
canvas.drawingBuffer{
	position:absolute;
	top:0;
	left:0;
}